.chat-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
.chat-message{
    margin-top: auto;
}
.chat-title{
    background: rgb(32, 32, 56);
    background: linear-gradient(180deg,
                rgba(32, 32, 56, 1) 1%,
                rgba(25, 25, 36, 1) 100%);
    color: rgb(190, 190, 190);
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0);
    padding-left: 6vh;
    position: absolute;
    height: fit-content;
    width: 100%;
    justify-content: end;
}
.chat-input-message{
    background: rgb(51, 179, 55);
    display: flex;
    height: fit-content;
    justify-content: end;
}
.chat-text{
    border-color: transparent;
    padding: 8px;
    margin: 3px;
    border-radius: 5px;
    width: 90%;
    outline: none;
}
.chat-text:focus{
    outline: none;
    box-shadow: 0px 0px 8px 0px rgba(0, 123, 255, 0.5);
}
.chat-input-message{
    display: flex;
    position: absolute;
    width: 50%;
    height: fit-content;
    bottom: 20%;
    
}